.App {
  text-align: center;
}

.App-header {
  margin: auto;
  background-color: #282c34;
  color: rgb(49, 115, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max ;
  height: 100px;
}

h1,h2 {
 margin-left: .8em;
 text-align: center;
}

h1.title {
  color: rgba(196, 169, 207, 0.986);
}

p {
  color: crimson;
  margin-top: 2em;
  text-align: center;
}

a {
  color: rgba(44, 176, 199, 0.945);
  text-align: center;
}

li {
  text-align: center;
}

hr {
  width: 12em;
  border-radius: .3em;
  border: rgba(88, 34, 88, 0.945);
  height: .4em;
  margin: auto;
  background: rgba(67, 29, 82, 0.856);
}

nav button {
  margin: 5px;
}
button.active {
  border: none;
  font-weight: bold;
}

main,
footer,
header {
  margin: 2rem 1rem;
}

main {
  font-size: 1.4rem;
}
footer {
  font-size: 0.8rem;
}

